/* ------------------- портфолио------------------- */

.filter-list{
  display: flex;
  justify-content: center;
}
.btn-filter {
  background-color: var(--btn-filter-bcg);
  color: var(--headline-black-color);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.2;
  padding: 6px 22px;
  border-radius: 4px;
  }
  .btn-item:not(:last-of-type){
    margin-right: 6px;
  }
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.portfolio{
  padding: 94px 0;
}
/* .portfolio-container{
  
} */
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
  margin: -15px;
  
}
.portfolio-item{
  margin: 15px;
 
  /* flex-basis: calc((100% - 90px) / 3); */
  width: calc((100% - 90px) / 3);
  
}
.portfolio-item:hover{
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-image{
  /* margin-bottom: 20px; */
  display: block;
  
}
.portfolio-headline {
  color: var(--headline-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.portfolio-text {
  display: inline-block;
  font-size: 16px;
  line-height: 1.9;

  /* margin-bottom: 20px; */
}
.portfolio-content{
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
